aiokafka
async-timeout
kafka-python
numpy
opencv-python
packaging
pandas
psutil
matplotlib
python-dateutil
PyYAML
gitpython
Pillow
python-dotenv
requests
thop
torch
torchvision
scipy
tqdm
tensorboard
seaborn
pytz
six